html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.milk {
    background-color: #f1c697 !important;
    color: white !important; 
}

.chocolate {
    background-color: #512f0a !important;
	color: #f4d0a9 !important;
}

.chocolate-text {
	color: #512f0a !important;
}
